<section class="container-section">
    <div class="container">
        <h2 class="title-section" data-aos="fade-left" data-aos-duration="2000">Equipo de trabajo</h2>
        <p class="copy" data-aos="fade-left" data-aos-duration="2000">Lorem ipsum dolor, sit amet consectetur adipisicing.</p>
        <div class="team-company">
            <div class="team" data-aos="flip-left" data-aos-duration="2000">
                <img class="person-img" src="../../../../../assets/img/8.jpg" alt="">
                <h4 class="person">Samuel - Jefe</h4>
            </div>
            <div class="team" data-aos="flip-left" data-aos-duration="2000">
                <img class="person-img" src="../../../../../assets/img/9.jpg" alt="">
                <h4 class="person">Emily - Contadora</h4>
            </div>
            <div class="team" data-aos="flip-left" data-aos-duration="2000">
                <img class="person-img" src="../../../../../assets/img/8.jpg" alt="">
                <h4 class="person">Carlos - Gerente</h4>
            </div>
            <div class="team" data-aos="flip-left" data-aos-duration="2000">
                <img class="person-img" src="../../../../../assets/img/9.jpg" alt="">
                <h4 class="person">Emily - Empleado</h4>
            </div>
        </div>
    </div>
</section>