<section class="">
    <div class="container">
        <h2 class="title-section" data-aos="fade-right" data-aos-duration="2000">Productos</h2>
    </div>
    <div class="container container-galery">
        <article class="galery-img">
            <img src="../../../../../assets/img/img2/1.jpg" alt="">
            <div class="galery-icon">
                <i class="fa-solid fa-file-lines"></i>
                <i class="fa-solid fa-thumbs-up"></i>
                <i class="fa-solid fa-store"></i>
            </div>
        </article>
        <article class="galery-img">
            <img src="../../../../../assets/img/img2/2.jpg" alt="">
            <div class="galery-icon">
                <i class="fa-solid fa-file-lines"></i>
                <i class="fa-solid fa-thumbs-up"></i>
                <i class="fa-solid fa-store"></i>
            </div>
        </article>
        <article class="galery-img">
            <img src="../../../../../assets/img/img2/3.jpg" alt="">
            <div class="galery-icon">
                <i class="fa-solid fa-file-lines"></i>
                <i class="fa-solid fa-thumbs-up"></i>
                <i class="fa-solid fa-store"></i>
            </div>
        </article>
        <article class="galery-img">
            <img src="../../../../../assets/img/img2/4.jpg" alt="">
            <div class="galery-icon">
                <i class="fa-solid fa-file-lines"></i>
                <i class="fa-solid fa-thumbs-up"></i>
                <i class="fa-solid fa-store"></i>
            </div>
        </article>
        <article class="galery-img">
            <img src="../../../../../assets/img/img2/5.jpg" alt="">
            <div class="galery-icon">
                <i class="fa-solid fa-file-lines"></i>
                <i class="fa-solid fa-thumbs-up"></i>
                <i class="fa-solid fa-store"></i>
            </div>
        </article>
        <article class="galery-img">
            <img src="../../../../../assets/img/img2/6.jpg" alt="">
            <div class="galery-icon">
                <i class="fa-solid fa-file-lines"></i>
                <i class="fa-solid fa-thumbs-up"></i>
                <i class="fa-solid fa-store"></i>
            </div>
        </article>
    </div>
</section>