.container-images{
    display: flex;
    justify-content: space-evenly;
    flex-wrap: wrap;
}

.container-images img{
    display: block;
    object-fit: cover;
    width: 30%;
    height: 200px;
    box-shadow: 0 0 4px rgba(0, 0, 0, .5);
    margin-bottom: var(--marginElementos);
}

@media screen and (max-width: 800px){
    .container-images img{
        width: 90%;
    }
}