<section class="container-section">
    <div class="container">
        <h2 class="title-section" data-aos="fade-left" data-aos-duration="2000">Destacados</h2>
        <p class="copy" data-aos="fade-left" data-aos-duration="2000">Lorem ipsum dolor sit amet consectetur adipisicing elit. Voluptatem facilis placeat exercitationem eligendi magni aspernatur ex ad ullam similique consequuntur. Accusantium rem unde provident fugiat cupiditate distinctio odit quidem iure!</p>
        <div class="container-images">
            <img src="../../../../../assets/img/1.jpg" alt="" data-aos="flip-left" data-aos-duration="2000">
            <img src="../../../../../assets/img/2.jpg" alt="" data-aos="flip-left" data-aos-duration="2000">
            <img src="../../../../../assets/img/4.jpg" alt="" data-aos="flip-left" data-aos-duration="2000">
        </div>
    </div>
</section>