<div style="height: 150px; overflow: hidden;" ><svg viewBox="0 0 500 150" preserveAspectRatio="none" style="height: 100%; width: 100%;"><path d="M0.00,49.98 C149.99,150.00 271.49,-49.98 500.00,49.98 L500.00,0.00 L0.00,0.00 Z" style="stroke: none; fill: #f2f2f2;"></path></svg></div>
<div class="container">
    <h2 class="title-section" data-aos="fade-right" data-aos-duration="2000">Contactanos</h2>
    <p class="copy" data-aos="fade-right" data-aos-duration="2000">Lorem ipsum dolor sit amet consectetur adipisicing elit. Veniam voluptates iste quasi, autem blanditiis necessitatibus quam, aperiam et soluta neque, qui numquam! Pariatur expedita tempore doloremque possimus accusantium itaque recusandae.</p>
    <div class="social-media">
        <i class="fa-brands fa-twitter"></i>
        <i class="fa-brands fa-facebook-f"></i>
        <i class="fa-brands fa-instagram"></i>
    </div>
</div>